.portfolio-menu{
	text-align:center;
}
/* .portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
} */
.img-fluid{
    /* width: 300px; */
    height: 210px;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}
.portfolio-item .item:hover{
	/*width:303px;*/
	border: 3px solid rgb(119, 117, 117);
}