.policy{
    background-color: white !important;
    color: black !important;
    height: 800px;
}
.art{
    color: black !important;
    margin-left: 50px;
    text-transform: capitalize;
}
.policy-1{
    margin-left: 50px;
}